		CCS-WEBSITE REQUIREMENTS.
1- All the previous adjutant pics with their time period.
2- The new pics of Faculty members (every one separately) and the detail of those whose picture is not given on current website.
3- A beautiful pic of Faiz Mehal, mess, auditorium, swimming pool, gym.
4- A beautiful pic of every Lab(chemistry, Physics, Biology, Computer, Library) and the pics of Classes(any 20 pics well-viewed.)
5- An excellent pic of Every house from outside. Rooms pics of every house and the cadet playing Sports of every house pics.
6- The pics of every BOG members with his little bit detail like profession.
7- The pics of all previous Vice Principals with their a little bit detail. (like his era and his degree.)
8- Name of admin staff with there pics and some detail.
9- The pics of all martyr with some details. (like name, p.no, house, date of death.)
10- The pics of Co-curricular activities (any 15 pics of different activities like Qirat, Naat, quiz etc..)
11- the prospectus of college in pdf with some detail(admission criteria, last date of farm submission, entry test date, interview date and last result day.)
12- Contacts(admission office, college address, email, 24 hours ON number).
13- pics of some events (any 15 events like defense day etc....)only front pic.
14- the pics of All college appointments along with house captains, SLCs and HMs and AHMs of each house. Make sure the names of appointment must be mentioned
15- one pic of each game which is being played in CCSanghar.
16- the fee structure for all classes.(8,9,11)
17- the syllabus of entry test in pdf for class 8,9,11th.
18- the pic of PROF. MUHAMMAD AFZAL ARAIN Ex.PRINCIPAL of CCSanghar
